.margin-example {
    width: 800px;
    margin: auto;
    height: 100;
    background-color: cornflowerblue;
    color: whitesmoke;
}
.padding-example {
    width: 800px;
    margin: auto;
    height: 100;
    padding: 20px;
    background-color: cornflowerblue;
    color: whitesmoke;
}

.border {
    border-color: gray;
    border-width: 1px;
    border-style: dotted;
}

.borderedondo {
    border: 2px solid blue;
    border-radius: 8px;
}