body {
    margin: 0;
    height: 100vh;
    display:flex;
    flex-direction: column;
}

.Text-container {
   
    position: relative;
    flex: 1;
}

.Text-1 {
    position: absolute;
    top: 10%;
    left: 10%;
}

.Text-2 {
    position: absolute;
    top: 70%;
    left: 20%;
}

.Text-3 {
    position: absolute;
    top: 70%;
    left: 90%;
}

.Text-4 {
    position: absolute;
    top: 20%;
    left: 50%;
}

.Text-5 {
    position: absolute;
    top: 10%;
    left: 60%;
}

#complete-game {
    position: fixed;
    top: 40vh;
    left: 30vh;
    display: none;
}